.testimony{
    padding-block-start: 40px;
        padding-block-end: 40px;
}
.testimony-description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.testimony-title{
    background: var(--prouple);
    display: flex;
    color: var(--withe) ;
    flex-direction: column;
    gap: 16px;
    text-transform: none;
    align-self: flex-start;
    font: var(--headLine5);
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-start: 8px;
    padding-inline-end: 4px;
    margin-inline-start: 4px;
    box-shadow: -4px 4px 0 var(--withe);
}
.testimony-image img{
    max-inline-size: 100% !important;
}

.testimonio{
    background: rgba(255, 255, 255, .2);
    border-radius: 24px;
    padding: 24px;
    margin: 40px 0 80px 0;
    border-block-start: 4px solid rgba(255, 255, 255, .2);
    border-inline-start: 4px solid rgba(255, 255, 255, .2);
}

.img-testimonio{
    text-align: center;
}

@media screen and (min-width: 768px) {     
    .testimony {
        display: flex;
        align-items: center;
        padding-block-start: 80px;
        padding-block-end: 80px;
    }
    .testimony-description{
        flex: 1;
    }
    .testimony:nth-child(odd) .testimony-image{
       
        order: 2;
        flex: 1;
        text-align: center;
    }
    .testimonio{
        text-align: center;
        padding: 80px;
    }
 }